@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: hsl(210, 40%, 98%);

    --primary: 198.87 88.18% 43.14%;
    --primary-focus: 201 67% 32%;
    --primary-dark: 198.87deg 88.43% 28.73%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --primary: 198.87 88.18% 43.14%;
    --primary-focus: 201 67% 32%;
    --primary-dark: 201deg 100% 17.55%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.bg:after,
.bg:before,
.bg2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -5;
  height: 100%;
}
.bg::after {
  z-index: -5;
  background-image: url("/Grid.svg");
  opacity: 0.075;
  filter: invert(0);
}
.bg2::before {
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    hsl(var(--background))
  );
  /* z-index: -3; */
  z-index: -4;
}
.dark .bg::after {
  opacity: 0.1;
  filter: invert(1);
}
.bg::before {
  position: absolute;
  z-index: -4;
  /* z-index: -3; */
  background: radial-gradient(
    circle,
    hsl(var(--primary) / 0.2) 0,
    hsl(var(--background)) 100%
  );
}
.dark .bg::before {
  background: radial-gradient(
    circle,
    hsl(var(--primary) / 0.25) 0,
    hsl(var(--background)) 100%
  );
}

#clients,
#card {
  background: radial-gradient(
    circle,
    hsl(var(--background) / 0.5) 100%,
    red 100%
  );
}

.dark .outline-btn {
  border-color: #374151 !important;
}
.light .outline-btn {
  border-color: #b3c4cd;
}
.light .outline-btn:hover {
  backdrop-filter: blur(0.75px);
  background-color: #e2e8f09c !important;
}

#services #grid {
  display: flex;
  flex-wrap: wrap; /* Wrap items onto new lines */
  justify-content: center;
  align-items: stretch; /* Align items to the top */
}

.ChangeLOG__New__Features,
.ChangeLOG__Improvment,
.ChangeLOG__Bugs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.ChangeLOG__New__Features .ul {
  margin-top: 5px;
}
.ChangeLOG__New__Features * {
  border-color: #86c1a1;
}
.ChangeLOG__New__Features svg {
  color: #86c1a1 !important;
  fill: #86c1a1 !important;
}
.ChangeLog .description {
  margin-left: 28px;
}

.ChangeLOG__New__Features .card svg {
  color: #86c1a1 !important;
  fill: none !important;
}

.ChangeLOG__Improvment * {
  border-color: #e59761;
}
.ChangeLOG__Improvment svg {
  color: #e59761 !important;
}

.ChangeLOG__Bugs svg {
  color: #e56161 !important;
  fill: #e56161 !important;
}
.ChangeLOG__Bugs * {
  border-color: #e56161;
}

/* Tailwindcss Not Working */
@media (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .md\:w-\[200px\] {
    width: 200px;
  }
}
.mb-10 {
  margin-bottom: 2.5rem /* 40px */;
}

* {
  scroll-behavior: smooth !important;
}

.hash {
  display: none;
}
.hash_parent:hover .hash {
  display: inline;
}

.onOpenBeCard[data-state="open"] > button:hover {
  background-color: transparent;
}
.onOpenBeCard[data-state="open"] {
  @apply bg-card/50 border backdrop-blur rounded-lg;
}
.onOpenBeCard[data-state="open"] > button {
  @apply font-semibold pt-3 text-start;
}
.onOpenBeCard svg {
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.onOpenBeCard[data-state="open"] svg {
  rotate: 180deg;
}
.onOpenBeCard[data-state="open"] > div {
  @apply px-5 py-3 pt-1 text-start;
}

.light .Section__Title {
  color: #e2e8f0;
  position: relative;
  top: 18px;
  z-index: 1;
}
.dark .Section__Title {
  color: #3a3f47;
  position: relative;
  top: 18px;
  z-index: 1;
}

.Section__Title ~ p {
  z-index: 3;
  position: relative;
}

/* Rainbow (Gradient) Shadow */
.rainbow__shadow:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #0974f1 0%, #9fccfa 100%);
  transform: translate3d(0px, 0px, 0) scale(0.97);
  filter: blur(48px);
  opacity: var(0.75);
  transition: opacity 0.3s;
  border-radius: inherit;
}
.rainbow__shadow::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.background-wrapper {
  z-index: -1;
  height: 102%;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}
.header-background {
  z-index: 1;
  width: 100%;
  max-width: 1760px;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  top: 0;
  left: auto;
  height: 102%;
  right: auto;
}
.background-grid {
  opacity: 0.15;
  z-index: 0;
  width: 100%;
  height: 102%;
  max-width: 1440px;
  flex: none;
  margin-left: auto;
  margin-right: auto;
  filter: blur(0.6px);
}
.dark .background-grid {
  opacity: 0.1;
  filter: invert(1);
}
