@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: hsl(210, 40%, 98%);

    --primary: 198.87 88.18% 43.14%;
    --primary-focus: 201 67% 32%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --primary: 198.87 88.18% 43.14%;
    --primary-focus: 201 67% 32%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.bg:after,
.bg:before {
  position: fixed;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
}
.bg::after {
  z-index: -5;
  background-image: url("/Grid.svg");
  opacity: 0.075;
  filter: invert(0);
}
.dark .bg::after {
  opacity: 0.1;
  filter: invert(1);
}
.bg::before {
  z-index: -3;
  background: radial-gradient(
    circle,
    hsl(var(--primary) / 0.2) 0,
    hsl(var(--background)) 100%
  );
}
.dark .bg::before {
  background: radial-gradient(
    circle,
    hsl(var(--primary) / 0.25) 0,
    hsl(var(--background)) 100%
  );
}

#clients,
#card {
  background: radial-gradient(
    circle,
    hsl(var(--background) / 0.5) 100%,
    red 100%
  );
}

.dark .outline-btn {
  border-color: #374151 !important;
}
.light .outline-btn:hover {
  background-color: #e2e8f0 !important;
}

#services #grid {
  display: flex;
  flex-wrap: wrap; /* Wrap items onto new lines */
  justify-content: center;
  align-items: stretch; /* Align items to the top */
}


.ChangeLOG__New__Features,
.ChangeLOG__Improvment,
.ChangeLOG__Bugs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.ChangeLOG__New__Features .ul {
  margin-top: 5px;
}
.ChangeLOG__New__Features * {
  border-color: #86c1a1;
}
.ChangeLOG__New__Features svg {
  color: #86c1a1 !important;
  fill: #86c1a1 !important;
}
.ChangeLog .description {
  margin-left: 28px;
}

.ChangeLOG__New__Features .card svg {
  color: #86c1a1 !important;
  fill: none !important;
}

.ChangeLOG__Improvment * {
  border-color: #e59761;
}
.ChangeLOG__Improvment svg {
  color: #e59761 !important;
}

.ChangeLOG__Bugs svg {
  color: #e56161 !important;
  fill: #e56161 !important;
}
.ChangeLOG__Bugs * {
  border-color: #e56161;
}